@tailwind base;
@tailwind components;
@tailwind utilities;

/* Toggle Switch */
.toggle-checkbox {
  right: 0;
  z-index: 5;
  transition: all 0.3s;
}

.toggle-checkbox:checked {
  right: 6px;
}

.toggle-label {
  transition: all 0.3s;
}
